{% if content.children.size > 0 %}
<div class="col-xs-12">
	
	{% assign col1 = '' %}
	{% assign col2 = '' %}
	{% assign col1count = 0 %}
	{% assign col2count = 0 %}
		
	{% for child in content.children %}
		
		{% capture appendcol %}
		<div class="contentblock">
			<h3 class="contentblock__title">{{child.title | upcase}}</h3>
			{% for child2 in child.children %}
			<span class="contentblock__item">
				<a href="{{child2.link}}">{{child2.linktitle}}</a>
			</span>
			{% endfor %}
		</div>
		{% assign itemcount = child.children.size %}
		{% endcapture %}
		
		{% if col1count <= col2count %}
			{% capture col1 %}{{col1 | append: appendcol}}{% endcapture %}
			{% assign col1count = col1count | plus: itemcount %}
		{% else %}
			{% capture col2 %}{{col2 | append: appendcol}}{% endcapture %}
			{% assign col2count = col2count | plus: itemcount %}
		{% endif %}
		
	{% endfor %}
	
	<div class="row">
		<div class="col-xs-12 col-sm-5">
			{{col1}}
		</div>
		<div class="col-xs-12 col-sm-5 col-sm-offset-1 cascade-col-2">
			{{col2}}
		</div>
	</div>
	
</div>
{% endif %}
